<mat-toolbar color="primary">
    <div class="item">
        <span style="margin-right: 10px">SANDBOX</span>
        <mat-select>
            <mat-option value="on" selected>
                ON
            </mat-option>
            <mat-option value="off">
                OFF
            </mat-option>
        </mat-select>
    </div>

    <div class="item" style="margin-left: 10px">
        <span style="margin-right: 10px">SYNC</span>
        <svg-icon style="margin-right: 7px;" icon="question-circle-dark"></svg-icon>
        <span style="margin-right: 10px">100%</span>
        <span style="margin-right: 10px">24%</span>
    </div>

    <div class="item" style="margin-left: 10px">
        <span style="margin-right: 10px">CURRENT BLOCK</span>
        <svg-icon style="margin-right: 7px;" icon="question-circle-dark"></svg-icon>
        <span style="margin-right: 10px">{{chainData?.chainId}}</span>
    </div>

    <div class="item" style="margin-left: 10px">
        <span style="margin-right: 10px">PROTOCOL</span>
        <svg-icon style="margin-right: 7px;" icon="question-circle-dark"></svg-icon>
        <span style="margin-right: 10px">{{chainData?.port}}</span>
    </div>
    <span class="example-spacer"></span>
    <div class="item">
        <a mat-stroked-button href="javascript:void(0)" target="_blank">3 pending transactions</a>
    </div>
</mat-toolbar>