<div class="mempool-container">
    <div class="mempool-card">
        <div class="mempool-header">
            <app-mempool-filters></app-mempool-filters>
        </div>
        <div class="mempool-body">
            <div class="mempool-list">
                <app-mempool-transaction-table [mempoolTableList]="mempoolList"
                    (transactionEvent)="onChangeTransaction($event)"></app-mempool-transaction-table>
            </div>
            <div class="mempool-detail">
                <app-mempool-transaction-detail [currentTransaction]="currentTransaction">
                </app-mempool-transaction-detail>
            </div>
        </div>
    </div>
</div>