<div class="mempool-filter-title">
    <span>
        <svg-icon style="margin-right: 7px;" icon="filter"></svg-icon>
        Active filters
    </span>
</div>
<div class="mempool-filter-list">
    <div class="mempool-filter-label">
        <span>
            <svg-icon style="margin-right: 7px;" icon="close"></svg-icon>
            Available filters
        </span>
    </div>
    <div class="mempool-filter-group">
        <span style="margin-right: 7px; margin-left: 7px;">
            TYPE
        </span>
        <mat-chip-list aria-label="Color selection" aria-orientation="horizontal">
            <mat-chip *ngFor="let chip of chipsList">
                <svg-icon icon="add"></svg-icon>
                {{chip.name}}
            </mat-chip>
        </mat-chip-list>
    </div>
</div>