<div class="chain">
    <div class="chain-row">
        <mat-expansion-panel class="chain-message-card" hideToggle>
            <mat-expansion-panel-header class="chain-card-title">
                <mat-panel-title>
                    <span>
                        <img style="margin-right: 7px;" src="../../../assets/icon/question-circle.svg">
                        Server setup details
                    </span>
                    <span>Hide</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="chain-card-content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi rem iste recusandae voluptate,
                    maiores explicabo amet sit dolorum ullam veritatis nemo consequatur officia. Quisquam vitae fugit
                    debitis exercitationem doloribus totam?</p>
            </div>
        </mat-expansion-panel>
    </div>
</div>