<div class="table-virtual-scroll">
    <cdk-virtual-scroll-viewport [itemSize]="50" class="example-viewport">
        <table class="table">
            <thead align="left">
                <tr class="bg-light">
                    <th>
                        TYPE
                    </th>
                    <th>
                        <span>
                            KIND
                            <svg-icon icon="question-circle-small"></svg-icon>
                        </span>
                    </th>
                    <th>
                        <span>
                            COLUMN
                            <svg-icon icon="question-circle-small"></svg-icon>
                        </span>
                    </th>
                    <th>
                        <span>
                            COLUMN
                            <svg-icon icon="question-circle-small"></svg-icon>
                        </span>
                    </th>
                </tr>
            </thead>
            <tbody align="left" *ngIf="mempoolTableList.length > 0">
                <tr *cdkVirtualFor="let list of mempoolTableList" (click)="showTransaction(list.transaction)">
                    <td>{{list.type}}</td>
                    <td>{{list.kind}}</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </cdk-virtual-scroll-viewport>
</div>