<div class="chain">
    <div class="chain-row">
        <mat-expansion-panel class="chain-message-card" hideToggle [expanded]="true">
            <mat-expansion-panel-header class="chain-card-title">
                <mat-panel-title>
                    <span>
                        <img style="margin-right: 7px;" src="../../../assets/icon/question-circle.svg">
                        Baking setup details
                    </span>
                    <span>Hide</span>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="chain-card-content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi rem iste recusandae voluptate,
                    maiores explicabo amet sit dolorum ullam veritatis nemo consequatur officia. Quisquam vitae fugit
                    debitis exercitationem doloribus totam?</p>
                <div class="chain-link">
                    <a mat-button href="https://www.google.com/" target="_blank">
                        <img style="margin-right: 7px;" src="../../../assets/icon/external-link-alt.svg">
                        Open Documentation
                    </a>
                </div>
            </div>
        </mat-expansion-panel>

        <div class="chain-form">
            <div class="chain-basic">
                <div class="chain-basic-group">
                    <p class="chain-basic-title">Conditions under which bakers can bake</p>
                    <p class="chain-basic-desc">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat
                        perferendis officiis aperiam quod animi blanditiis labore beatae atque laboriosam aspernatur
                        cum, fugit voluptatem aut fuga id sed nisi suscipit odit?</p>
                    <div class="chain-form-group">
                        <p class="chain-basic-title">Mempool parameters</p>
                        <div class="chain-form-row">
                            <mat-form-field appearance="fill">
                                <input matInput type="text" value="8">
                            </mat-form-field>
                            <p class="chain-form-desc">Lorem ipsum dolor, sit amet consectetur adipisicing
                                elit. Quaerat perferendis officiis</p>
                        </div>
                    </div>
                    <div class="chain-form-group">
                        <p class="chain-basic-title">Max numer of transaction</p>
                        <div class="chain-form-row">
                            <mat-form-field appearance="fill">
                                <input matInput type="text" value="8">
                            </mat-form-field>
                            <p class="chain-form-desc">Lorem ipsum dolor, sit amet consectetur adipisicing
                                elit. Quaerat perferendis officiis</p>
                        </div>
                    </div>
                    <div class="chain-form-group">
                        <p class="chain-basic-title">Size of transactions</p>
                        <div class="chain-form-row">
                            <mat-form-field appearance="fill">
                                <input matInput type="text" value="8">
                            </mat-form-field>
                            <p class="chain-form-desc">Lorem ipsum dolor, sit amet consectetur adipisicing
                                elit. Quaerat perferendis officiis</p>
                        </div>
                    </div>
                </div>
                <div class="chain-basic-group">
                    <p class="chain-basic-title">Parameters to accept transaction</p>
                    <p class="chain-basic-desc">Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                        accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
                        veritatis et quasi architecto</p>
                    <div class="chain-form-group">
                        <p class="chain-basic-title">Fee</p>
                        <div class="chain-form-row">
                            <mat-form-field appearance="fill">
                                <input matInput type="text" value="8">
                            </mat-form-field>
                            <p class="chain-form-desc">Lorem ipsum dolor, sit amet consectetur adipisicing
                                elit. Quaerat perferendis officiis</p>
                        </div>
                    </div>
                    <div class="chain-form-group">
                        <p class="chain-basic-title">Max-priority</p>
                        <div class="chain-form-row">
                            <mat-form-field appearance="fill">
                                <input matInput type="text" value="8">
                            </mat-form-field>
                            <p class="chain-form-desc">Lorem ipsum dolor, sit amet consectetur adipisicing
                                elit. Quaerat perferendis officiis</p>
                        </div>
                    </div>
                    <div class="chain-form-group">
                        <p class="chain-basic-title">...</p>
                        <div class="chain-form-row">
                            <mat-form-field appearance="fill">
                                <input matInput type="text" value="8">
                            </mat-form-field>
                            <p class="chain-form-desc">Lorem ipsum dolor, sit amet consectetur adipisicing
                                elit. Quaerat perferendis officiis</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>