<div class="header">

    <span class="filler-content"></span>

    <div class="close">
        <button mat-button routerLink="/monitoring">
            Close
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="upload-config">
        <button mat-button routerLink="">
            <img style="margin-right: 7px;" src="../../assets/icon/upload-file.svg">
            UPLOAD CONFIG FILE
        </button>
    </div>

</div>

<div class="stepper">
    <mat-card>
        <mat-card-content>
            <mat-card-header>
                <h2 class="mat-h1 reset">
                    New Chain Config
                </h2>
            </mat-card-header>
            <mat-horizontal-stepper [linear]="true" #stepper>
                <mat-step [editable]="false" [optional]="false" [completed]="true" label="Server">
                    <app-chain-server></app-chain-server>

                    <button mat-button matStepperNext>
                        Continue
                        <img style="margin-left: 7px;" src="../../assets/icon/arrow-right.svg">
                    </button>
                </mat-step>

                <mat-step [editable]="false" [optional]="false" label="Chain">
                    <app-chain-setup></app-chain-setup>

                    <button mat-button matStepperNext>
                        Continue
                        <img style="margin-left: 7px;" src="../../assets/icon/arrow-right.svg">
                    </button>
                </mat-step>

                <mat-step [editable]="false" optional="false" label="Wallets">
                    <app-chain-wallets></app-chain-wallets>

                    <button mat-button matStepperNext>
                        Continue
                        <img style="margin-left: 7px;" src="../../assets/icon/arrow-right.svg">
                    </button>
                </mat-step>

                <mat-step [editable]="false" optional="false" label="Baking">
                    <app-chain-baking></app-chain-baking>

                    <button mat-button matStepperNext>
                        Continue
                        <img style="margin-left: 7px;" src="../../assets/icon/arrow-right.svg">
                    </button>
                </mat-step>

                <mat-step [editable]="false" optional="false" label="Other">
                    <app-chain-other></app-chain-other>

                    <button mat-button matStepperNext>
                        Continue
                        <img style="margin-left: 7px;" src="../../assets/icon/arrow-right.svg">
                    </button>
                </mat-step>

                <mat-step [editable]="false" optional="false" label="Finish">
                    <app-chain-finish></app-chain-finish>

                    <button mat-button matStepperNext>
                        <img style="margin-right: 7px;" src="../../assets/icon/check.svg">
                        Finish
                    </button>
                </mat-step>
            </mat-horizontal-stepper>

        </mat-card-content>
    </mat-card>
</div>