// close button for stepper
.header {
    display: flex;
    align-items: center;
    padding: 15px;
    flex-direction: row-reverse;
}

.close {
    display: flex;
    justify-content: flex-end;
}

.upload-config button {
    color: rgba(240, 243, 247, 0.6);
    background-color: #353539;
    margin-right: 15px;
}

.close button {
    font-weight: 400;
    color: rgba(240, 243, 247, 0.6);
    background-color: #353539;
    margin-right: 15px;
}

.close button mat-icon {
    margin-top: 8px;
    font-size: 14px;
}

.stepper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stepper mat-card-header {
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    color: rgba(240, 243, 247, 0.6);
}

.stepper mat-card {
    background-color: transparent;
}

.stepper mat-card mat-horizontal-stepper {
    background-color: transparent;
}

.stepper mat-card mat-horizontal-stepper button {
    background: #204e8a;
    border-radius: 4px;
    color: #fff;
    width: 109px;
    margin-top: 20px;
}

.back-btn {
    position: absolute;
    top: 62px;
    left: -145px;
    width: 65px;
    color: rgba(240, 243, 247, 0.6) !important;
    background-color: #353539 !important;
    text-transform: uppercase;
}

::ng-deep .mat-stepper-horizontal-line {
    border-top-color: rgba(240, 243, 247, 0.6);
}

::ng-deep .mat-step-header .mat-step-label,
::ng-deep .mat-step-header .mat-step-label.mat-step-label-active {
    color: rgba(240, 243, 247, 0.6);
}

::ng-deep .mat-step-header .mat-step-icon {
    background-color: #353539;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background: #204e8a;
}
